

<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
    width: 80%;
    position: relative;
}
#selector{
    width:120px;
    position:relative;

}
.flex-container {
  display: flex;
 
}
</style>

</head>

<body>
    <h1>Stocks market </h1>
    <input class="megaMenuButtons" type="button" value = "One note" id="addStock"><br>

    <div class ="flex-container">
    <fieldset id ="selector">
        Minute
            <% minute.forEach(function(date){ %>
        <option ><%= date%></option>
        <option ></option>
        <% }) %>
    </fieldset>
    <fieldset id ="selector">
       Open.Price
                <% open.forEach(function(date){ %>
            <option ><%= date%></option>
            <option ></option>
            <% }) %>
        </fieldset>
        <fieldset id ="selector">
                close.Price
                         <% close.forEach(function(date){ %>
                     <option ><%= date%></option>
                     <option ></option>
                     <% }) %>
                 </fieldset>
                 <fieldset id ="selector">
                        high.Price
                                 <% high.forEach(function(date){ %>
                             <option ><%= date%></option>
                             <option ></option>
                             <% }) %>
                         </fieldset>
                         <fieldset id ="selector">
                                low.Price
                                         <% low.forEach(function(date){ %>
                                     <option ><%= date%></option>
                                     <option ></option>
                                     <% }) %>
                                 </fieldset>

    </div>
    </body>

</html>
